<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dukaan">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".models.ProductsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dukaan">
        <activity android:name=".views.ProductsActivity" />
        <activity android:name=".views.CreateStore" />
        <activity android:name=".views.Homescreen" />
        <activity android:name=".views.AddCategoryActivity" />
        <activity android:name=".views.AcceptOrderActivity"/>
       
        <activity android:name=".views.phone_login_activity" />
        <activity android:name=".views.AddProductDetailsActivity" />
        <activity android:name=".views.AddProductActivity" />
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>